<ion-content padding>

  <ion-item no-lines>
    <img class="img-responsive" src="{{logo}}" />
  </ion-item>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
      <ion-input formControlName="email" type="email" placeholder="{{ 'PLACEHOLDER_EMAIL' | translate }}" [class.invalid]="!loginForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>{{ 'REQUIREMENTS_EMAIL' | translate }}.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input formControlName="password" type="password" placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate }}" [class.invalid]="!loginForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      <p>{{ 'REQUIREMENTS_PASSWORD' | translate }}.</p>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!loginForm.valid" icon-right>
      {{ 'LOGIN_BUTTON' | translate }}
      <ion-icon name="log-in"></ion-icon>
    </button>
  </form>
  <button ion-button block clear (click)="goToRegister()">
    {{ 'SIGNUP_BUTTON' | translate }}
  </button>
  <button ion-button block clear (click)="goToResetPassword()">
    {{ 'FORGOT_BUTTON' | translate }}
  </button>

</ion-content>

<ion-footer>
<!--   <button ion-button clear (click)="changeLanguage('fi')">Fi</button>
  <button ion-button clear (click)="changeLanguage('en')">En</button>
   <button ion-button clear (click)="changeLanguage('np')">Np</button>
  <button ion-button clear (click)="changeLanguage('gr')">Gr</button>
  <button ion-button clear (click)="changeLanguage('po')">Po</button>
  <button ion-button clear (click)="changeLanguage('pl')">Pl</button> -->
<!--   <ion-item> -->
    <ion-label>{{ 'SELECT_LANGUAGE' | translate }}:</ion-label>
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
<!--   </ion-item> -->
</ion-footer>