<ion-content padding>

  <ion-item no-lines>
    <img class="img-responsive" src="{{logo}}" /> 
  </ion-item>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
      <ion-input formControlName="email" type="email" placeholder="{{ 'HOLDER_EMAIL' | translate }}" [class.invalid]="!loginForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>{{ 'REQUIREMENTS_EMAIL' | translate }}.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input formControlName="password" type="password" placeholder="{{ 'HOLDER_PASSWORD' | translate }}" [class.invalid]="!loginForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      <p>{{ 'REQUIREMENTS_PASSWORD' | translate }}.</p>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!loginForm.valid" icon-right>
      {{ 'LOGIN_BUTTON' | translate }}
      <ion-icon name="log-in"></ion-icon>
    </button>
  </form>
  <button ion-button block clear (click)="goToRegister()">
    {{ 'SIGNUP_BUTTON' | translate }}
  </button>
  <button ion-button block clear (click)="goToResetPassword()">
    {{ 'FORGOT_BUTTON' | translate }}
  </button>

</ion-content>