page-rate-my-pain {

    .badgeColor {
        background-color: #f53d3d;
    }

    .diary-text {
        font-family: Arial;
        font-size: 1.1em;
        color: #333;
        line-height: 1.2;
        letter-spacing: .1em;
        margin: 0;
    }

} 
