<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Chronic Health
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="logs">
      <ion-segment-button value="logyourpain">
        {{ 'RATEYOURPAIN_BUTTON' | translate }}
      </ion-segment-button>
      <ion-segment-button value="diary">
        {{ 'DIARY' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="logs">

    <div *ngSwitchCase="'logyourpain'">

      <h2>{{ 'ACTIVITIES' | translate }}:</h2>

      <ion-list>
        <ion-item class="log-item" *ngFor="let log of logList" no-lines>
          <h2>{{log?.log}}</h2>
          <p>{{ 'DATE' | translate }}: {{log?.date}}</p>
          <p>{{ 'TIME' | translate }}: {{log?.time}}</p>
          <p>{{ 'LEVELOFPAIN' | translate }}:
            <ion-badge [ngClass]="{ badgeColor: log?.painlevel >= 8 }" [color]="log?.painlevel <= 4 ? 'secondary' : 'medium'">{{log?.painlevel}}</ion-badge>
          </p>
        </ion-item>
      </ion-list>

    </div>

    <div *ngSwitchCase="'diary'">

      <ion-card *ngFor="let diary of diaryLog" padding>

        <ion-card-header>
          {{diary?.date}}
        </ion-card-header>

        
            <p class="diary-text">{{diary?.diary}}</p>
    

      </ion-card>

    </div>

  </div>

</ion-content>

<div [ngSwitch]="logs">

  <div *ngSwitchCase="'logyourpain'">

    <ion-footer class="footer-add-button">

      <button class="create-log-button" ion-button icon-right full color="primary" (click)="goToAddLog()"> {{ 'CREATE_LOG' | translate }}
        <ion-icon name="add"></ion-icon>
      </button>

    </ion-footer>

  </div>

  <div *ngSwitchCase="'diary'">

    <ion-footer class="footer-bg">

      <ion-item>
      <ion-input type="text" placeholder="{{ 'PLACEHOLDER_DIARY' | translate }}" [(ngModel)]="diaryEntry" clearInput></ion-input>
      <button ion-button clear (click)="picker.open()">
        <ion-datetime #picker pickerFormat="DD/MM" [(ngModel)]="dateEntry"></ion-datetime>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
      </button>
      <button ion-button clear item-right (click)="createDiary(diaryEntry, dateEntry)">{{ 'SEND_BUTTON' | translate }}</button>
    </ion-item>
    
    </ion-footer>

  </div>
</div>