<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Chronic Health
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="logs">
      <ion-segment-button value="logyourpain">
        {{ 'RATEYOURPAIN_BUTTON' | translate }}
      </ion-segment-button>
      <ion-segment-button value="diary">
        {{ 'DIARY' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="logs">

    <div *ngSwitchCase="'logyourpain'">

      <h2>{{ 'ACTIVITIES' | translate }}:</h2>

      <ion-list>
        <ion-item class="log-item" *ngFor="let log of logList" no-lines>
          <h2>{{log?.log}}</h2>
          <p>{{ 'TIME' | translate }}: {{log?.time}}</p>
          <p>{{ 'LEVELOFPAIN' | translate }}:
            <ion-badge [ngClass]="{ badgeColor: log?.painlevel >= 7 }" [color]="log?.painlevel <= 5 ? 'secondary' : 'medium'">{{log?.painlevel}}</ion-badge>
          </p>
        </ion-item>
      </ion-list>

    </div>

    <div *ngSwitchCase="'diary'">

      <ion-card *ngFor="let diary of diaryLog" padding>

        <p class="diary-text">{{diary?.diary}}</p>

      </ion-card>

    </div>

  </div>

</ion-content>

<div [ngSwitch]="logs">

  <div *ngSwitchCase="'logyourpain'">

    <ion-footer>
      <ion-item>
        <ion-fab class="add-fab" bottom center>
          <button ion-fab mini color="primary" (click)="goToAddLog()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
      </ion-item>
    </ion-footer>

  </div>

  <div *ngSwitchCase="'diary'">

    <ion-footer>
      <ion-item>
        <ion-input type="text" placeholder="{{ 'PLACEHOLDER_DIARY' | translate }}" [(ngModel)]="diaryEntry"></ion-input>
        <button ion-button clear item-right (click)="createDiary(diaryEntry)">{{ 'SEND_BUTTON' | translate }}
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-item>
    </ion-footer>

  </div>
</div>