<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        ChronicHealth
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="logOut()">
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      {{ 'ACCOUNT_INFORMATION' | translate }}
    </ion-list-header>

    <ion-item (click)="updateUserName()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>{{ 'USERNAME' | translate }}</ion-col>
          <ion-col col-6 *ngIf="userProfile?.userName">
            {{userProfile?.userName}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.userName">
            <span>{{ 'CLICK_EDIT' | translate }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updateCountry()">
        <ion-grid>
          <ion-row>
            <ion-col col-6>{{ 'COUNTRY' | translate }}</ion-col>
            <ion-col col-6 *ngIf="userProfile?.Country">
              {{userProfile?.Country}}
            </ion-col>
            <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.Country">
              <span>{{ 'CLICK_EDIT' | translate }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>{{ 'EMAIL' | translate }}</ion-col>
          <ion-col col-6 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>{{ 'CLICK_EDIT' | translate }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>{{ 'PASSWORD' | translate }}</ion-col>
          <ion-col col-6 class="placeholder-profile">
            <span>{{ 'CLICK_EDIT' | translate }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content> 
