<ion-content padding>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
      <ion-input formControlName="email" type="email" placeholder="{{ 'PLACEHOLDER_EMAIL' | translate }}" [class.invalid]="!signupForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid
    && signupForm.controls.email.dirty">
      <p>{{ 'REQUIREMENTS_EMAIL' | translate }}.</p>
    </ion-item>

    <ion-item> 
      <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input formControlName="password" type="password" placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate }}" [class.invalid]="!signupForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  &&
    signupForm.controls.password.dirty">
      <p>{{ 'REQUIREMENTS_PASSWORD' | translate }}.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      {{ 'CREATE_ACCOUNT' | translate }}
    </button>
  </form>
</ion-content> 